@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

/*******************/
/* Section 1: Main */
/*******************/
main {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(90deg, #141e30, #243b55);
    text-align: center;
}

main h1 {
    position: relative;
    top: 35vh;
    font-size: 4rem;
    font-weight: 700;
}
main p {
    position: relative;
    top: 36vh;
}

main ul {
    position: absolute;
    bottom: 5vh;
    left: calc(100vh - 150px * (var(--list-length)))
}
main li {
    display: inline-block;
}

button {
  border-radius: 4px;
  background: #67b26b;
  border: none;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  padding: 20px;
  width: 300px;
  transition: all 0.4s;
  cursor: pointer;
  margin: 5px;
  overflow: hidden;
  position: relative;
  outline: none;
  border-bottom: 5px solid darkgreen;
}

button::before {
    border-radius: inherit;
    padding: 20px;
    content: "➜";
    display: inline-block;
    width: 300px;
    background: #4ca2cb;
    position: absolute;
    bottom: -2.25rem;
    right: 100%;
    transition: all 0.25s ease-out;
    font-size: 5rem;
}

button:hover {
    border-bottom: 5px solid #2b5c74;
}
button:hover::before {
    right: -5%;
}

.images img {
    box-shadow: 2px 3px 5px 2px rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    width: 300px;
    height: 200px;
    margin: 5px;
    position: relative;
    bottom: 10vh;
    transition: all 0.25s ease-out;
}
.images img:hover {
    transform: scale(1.05);
}
