@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: Poppins, sans-serif;
    font-weight: normal;
    color: white;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

/*********************/
/* Section 1: Header */
/*********************/
header {
    width: 100vw;
    height: 90px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #16213e;
    box-shadow: 0px 5px 10px 3px rgba(30, 30, 30, 0.5);
    z-index: 5;
    transition: all 0.5s ease;
}

header h2 {
    margin: 0 40px;
}

/* Hamburger Menu */
.hamburger {
    cursor: pointer;
    float: right;
    position: relative;
    right: 45px;
    width: 40px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
    z-index: 10;
}

.hamburger .bar {
    border-radius: 4px;
    height: 1px;
    width: 30px;
    background-color: #ffffff;
    color: #fff;
    transition: all 0.5s ease;
}

.hamburger .bar::before, .bar::after {
    border-radius: 4px;
    content: "";
    height: inherit;
    width: inherit;
    background-color: #ffffff;
    color: #fff;
    display: block;
    transition: all 0.5s ease;
}

.hamburger .bar::before {
    transform: translateY(10px)
}
.hamburger .bar::after {
    transform: translateY(-10px)
}

body.active .hamburger {
    transform: rotate(360deg)
}
body.active .hamburger .bar {
    background-color: transparent;
}

body.active .hamburger .bar::before {
    transform: rotate(45deg)
}
body.active .hamburger .bar::after {
    transform: rotate(-45deg)
}

/* Navigation Links */
nav {
    display: flex;
    align-items: center;
}

nav .main-links {
    list-style: none;
    margin-right: 70px;
}

nav li {
    display: inline;
    margin: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}

/* Menu */
.menu {
    position: absolute;
    width: 25vw;
    height: 100vh;
    right: -25vw;
    top: 0;
    transition: all 0.4s ease;
    z-index: 6;
    background-color: #162447;
    border-left: 3px solid #0f3460;
    box-shadow: -5px 0px 10px 3px rgba(30, 30, 30, 0.5);
    overflow-y: scroll;
    overflow-x: hidden;
}

/* Projects Appear */
li > ul {
    opacity: 0;
    transition: all 0.5s ease;
    cursor: pointer;
}

.projects > ul {
    animation-fill-mode: both;
    animation: hide 0.5s ease;
    display: none;
}

@keyframes hide {
    from {
        opacity: 1;
    } to {
        opacity: 0;
    }
}

.projects.selected > ul {
    animation-fill-mode: forwards;
    animation: appear 0.5s ease;
    display: block;
    opacity: 1;
    transition: all 0.5s ease;
}

@keyframes appear {
    from {
        transform: translateX(-20px);
        opacity: 0;
    } to {
        transform: translateX(0px);
        opacity: 1;
    }
}

.projects.selected::before {
    transform: rotate(90deg)
}

.menu hr {
    width: 20vw;
    color: white;
    border: none;
    background-color: white;
    height: 1px;
    border-radius: 2px;
}

.menu > ul {
    width: 25vw;
    margin: 0 0.75em;
}

.menu li {
    display: block;
    width: 25vw;
    border-radius: 25px;
    transition: all 0.2s ease;
    padding: 0px 8px;
}
.menu li::before {
    content: "\2022";
    margin-left: -1em;
    color: white;
    display: inline-block;
    width: 1em;
    transition: all 0.2s ease;
}
.menu .projects::before {
    content: ">";
    margin-left: -1em;
    color: white;
    display: inline-block;
    width: 1em;
    transition: all 0.2s ease;
}

.menu li:hover {
    background-color:#1f4068;
}
.menu .projects:hover {
    background-color: transparent;
}

body.active .menu {
    right: 0;
}

/*******************/
/* Section 2: Main */
/*******************/
.container {
    width: 100vw;
    margin: 0px 15vw;
    padding: 25px 0px;
}

/* Banner */
.banner {
    width: 100vw;
    height: 70vh;
    background: url("https://cdn.discordapp.com/attachments/768855517648912406/788861970987614228/334519.png") no-repeat top center / cover;
    box-shadow: inset 0px -6px 20px 2px rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}
.overlay {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 70vh;
    z-index: 1;
    background-color: #1a1a2e;
    opacity: 0.4;
}

.title {
    width: 100vw;
    position: absolute;
    top: 45vh;
    z-index: 2;
    margin: auto;
    text-align: center;
}
.title h1 {
    font-size: 3.5rem;
    font-weight: 900;
    font-family: "Roboto Slab", serif;
    position: relative;
}
.title p {
    position: relative;
}

/* Table of Contents */
.toc {
    width: 100vw;
    height: 30vh;
    background: linear-gradient(90deg, rgba(26,26,46,1) 0%, rgba(22,36,71,1) 69%); 
    display: flex;
    position: relative; 
}
.toc h2 {
    font-weight: bolder;
    font-size: 1.75rem;
}

.toc ol {
    list-style-type: upper-roman;
    list-style-position: inside;
}
.toc li {
    margin: 5px 0px;
    font-size: 1.25rem;
}
.toc a {
    color: white;
    text-decoration: none;
}

/* Animation */
.animation {
    height: 150px;
    width: 200px;
    position: absolute;
    right: 150px;
    top: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bars {
    width: 10px;
    height: 150px;
    background: white;
    border-radius: 5px;
    display: block;
    position: relative;
    transition: all 0.5s ease-in-out;
    box-shadow: 5px 0px 5px 0px rgba(0, 0, 0, 0.7), inset -3px 0px 5px 0px rgba(0, 0, 0, 0.6)
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    position: absolute;
    transition: all 0.5s ease-in-out;
    box-shadow: inset 0px -2px 5px 0px rgba(0, 0, 0, 0.6), 0px 3px 5px 0px rgba(0, 0, 0, 0.7)
}
.circle.red {
    background-color: crimson;
    right: -10px;
}
.circle.blue {
    background-color: cornflowerblue;
    right: 85px;
    bottom: 20px;
}
.circle.green {
    background-color: seagreen;
    left: -10px;
    top: 10px;
}

/* Keyframes and Animated */
.animation .circle.red {
    animation: up-down 5s ease-in-out 0s infinite;
}
.animation .circle.blue {
    animation: up 6s ease-in-out 0s infinite;
}
.animation .circle.green {
    animation: down 4s ease-in-out 0s infinite;
}
.animation.hover .circle {
    animation-play-state: paused;
}
@keyframes up-down {
    0% {
        transform: translateY(0px)
    }
    30% {
        transform: translateY(50px) rotate(360deg)
    }
    75% {
        transform: translateY(-50px) rotate(-360deg)
    }
    100% {
        transform: translateY(0px) rotate(0deg)
    }
}

@keyframes down-up {
    0% {
        transform: rotate(0deg)
    }
    30% {
        transform: translateY(-50px) rotate(360deg)
    }
    75% {
        transform: translateY(50px) rotate(-360deg)
    }
    100% {
        transform: translateY(0px) rotate(0deg)
    }
}

@keyframes up {
    0% {
        transform: translate(0)
    }
    50% {
        transform: translateY(-80px) rotate(360deg)
    }
    100% {
        transform: translateY(0px) rotate(0deg)
    }
}

@keyframes down {
    0% {
        transform: translate(0)
    }
    50% {
        transform: translateY(80px) rotate(360deg)
    }
    100% {
        transform: translateY(0px) rotate(0deg)
    }
}

/**********************/
/* Section 3: Content */
/*********************/
.content {
    width: 100vw;
    height: 175vh;
    background: linear-gradient(270deg, rgba(26,26,46,1) 0%, rgba(22,36,71,1) 69%);
    box-shadow: inset 0px 6px 20px 2px rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.cont > section {
    width: 75vw;
    border-radius: 50px;
    background-color: rgba(226, 179, 188, 0.3);
    height: 50vh;
    margin: 25px auto;
    box-shadow: -2px 5px 20px 2px rgba(0, 0, 0, 0.6), inset -2px -5px 20px 2px rgba(226, 179, 188, 0.15);
    color: lightgray;
}
.cont > section h3 {
    font-weight: 700;
    font-size: 2rem
}
.cont > section p {
    font-family: "Roboto Slab"
}

/* Overview */
.overview-text {
    height: 100%;
    width: 50%;
    float: left;
    padding: 30px;
}
.overview-text h3 {
    font-weight: 400;
    font-size: 2rem;
}

.overview-image {
    background: url("https://media.discordapp.net/attachments/768855517648912406/788976604712796211/8YnAAAAAElFTkSuQmCC.png") no-repeat top center / cover;
    width: 50%;
    height: 100%;
    float: right;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

/* Personal Favorites */
.favs-text {
    height: 100%;
    width: 60%;
    float: right;
    padding: 20px;
    padding-left: 40px;
}
.favs-text ul {
    list-style-position: inside;
    margin-left: 10px;
}

.favs-image {
    float: left;
    width: 40%;
    height: 100%;
    background: url("https://media.discordapp.net/attachments/768855517648912406/788974527299452978/AQQXlZeTujkpAAAAAElFTkSuQmCC.png") no-repeat top center / cover;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

/* Hobbies */
.hobbies-text {
    height: 100%;
    width: 50%;
    float: left;
    padding: 30px;
}
.hobbies-text ul {
    list-style-position: inside;
    margin-left: 10px;
}

.hobbies-image {
    width: 50%;
    height: 100%;
    float: right;
    background: url("https://cdn.discordapp.com/attachments/768855517648912406/788975872051904532/000-Online-Code-Editors.png") no-repeat top center / cover;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

/*********************/
/* Section 4: Footer */
/*********************/
footer {
    height: 36vh;
    width: 100vw;
    background-color: #16213e;
    box-shadow: inset 0px 5px 10px 2px rgba(0, 0, 0, .6);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer h3 {
    font-weight: 400;
}


footer .footer-container {
    width: 40vw;
    height: 20vh;
    display: flex;
    justify-content: space-between;
}

footer div {
    width: 15vw;
}

footer ul {
    list-style: none;
}

footer ul span {
    font-weight: 300;
}

footer li {
    font-weight: 200;
}

.github {
    width: 30px;
    height: 30px;
    overflow: hidden;
    background-size: cover;
    border-radius: 100%;
    object-fit: cover;
    position: absolute;
    right: 44.5vw;
}

.discord {
    width: 30px;
    height: 30px;
    overflow: hidden;
    background-size: cover;
    border-radius: 100%;
    object-fit: cover;
    position: absolute;
    right: 44.5vw;
}

.gmail {
    width: 30px;
    height: 30px;
    overflow: hidden;
    background-size: cover;
    border-radius: 100%;
    object-fit: cover;
    position: absolute;
    right: 69.5vw;
}

footer p {
    position: absolute;
    bottom: -34vh;
    left: 8px;
    float: left;
    font-size: 0.65rem;
}