@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: Poppins, sans-serif;
    font-weight: normal;
    color: white;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

/*********************/
/* Section 1: Header */
/*********************/
header {
    width: 100vw;
    height: 90px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #16213e;
    box-shadow: 0px 5px 10px 3px rgba(30, 30, 30, 0.5);
    z-index: 5;
    transition: all 0.5s ease;
}

header h2 {
    margin: 0 40px;
}

/* Hamburger Menu */
.hamburger {
    cursor: pointer;
    float: right;
    position: relative;
    right: 45px;
    width: 40px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
    z-index: 10;
}

.hamburger .bar {
    border-radius: 4px;
    height: 1px;
    width: 30px;
    background-color: #ffffff;
    color: #fff;
    transition: all 0.5s ease;
}

.hamburger .bar::before, .bar::after {
    border-radius: 4px;
    content: "";
    height: inherit;
    width: inherit;
    background-color: #ffffff;
    color: #fff;
    display: block;
    transition: all 0.5s ease;
}

.hamburger .bar::before {
    transform: translateY(10px)
}
.hamburger .bar::after {
    transform: translateY(-10px)
}

body.active .hamburger {
    transform: rotate(360deg)
}
body.active .hamburger .bar {
    background-color: transparent;
}

body.active .hamburger .bar::before {
    transform: rotate(45deg)
}
body.active .hamburger .bar::after {
    transform: rotate(-45deg)
}

/* Navigation Links */
nav {
    display: flex;
    align-items: center;
}

nav .main-links {
    list-style: none;
    margin-right: 70px;
}

nav li {
    display: inline;
    margin: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}

/* Menu */
.menu {
    position: absolute;
    width: 25vw;
    height: 100vh;
    right: -25vw;
    top: 0;
    transition: all 0.4s ease;
    z-index: 6;
    background-color: #162447;
    border-left: 3px solid #0f3460;
    box-shadow: -5px 0px 10px 3px rgba(30, 30, 30, 0.5);
    overflow-y: scroll;
    overflow-x: hidden;
}

/* Projects Appear */
li > ul {
    opacity: 0;
    transition: all 0.5s ease;
    cursor: pointer;
}

.projects > ul {
    animation-fill-mode: both;
    animation: hide 0.5s ease;
    display: none;
}

@keyframes hide {
    from {
        opacity: 1;
    } to {
        opacity: 0;
    }
}

.projects.selected > ul {
    animation-fill-mode: forwards;
    animation: appear 0.5s ease;
    display: block;
    opacity: 1;
    transition: all 0.5s ease;
}

@keyframes appear {
    from {
        transform: translateX(-20px);
        opacity: 0;
    } to {
        transform: translateX(0px);
        opacity: 1;
    }
}

.projects.selected::before {
    transform: rotate(90deg)
}

/* More Menu Formatting */
.menu hr {
    width: 20vw;
    color: white;
    border: none;
    background-color: white;
    height: 1px;
    border-radius: 2px;
}

.menu > ul {
    width: 25vw;
    margin: 0 0.75em;
}

.menu li {
    display: block;
    width: 25vw;
    border-radius: 25px;
    transition: all 0.2s ease;
    padding: 0px 8px;
}
.menu li::before {
    content: "\2022";
    margin-left: -1em;
    color: white;
    display: inline-block;
    width: 1em;
    transition: all 0.5s ease;
}
.menu .projects::before {
    content: ">";
    margin-left: -1em;
    color: white;
    display: inline-block;
    width: 1em;
    transition: all 0.5s ease;
}

.menu li:hover {
    background-color:#1f4068;
}
.menu .projects:hover {
    background-color: transparent;
}

body.active .menu {
    right: 0;
}

/*********************/
/* Section 2: Banner */
/*********************/
.banner-section {
    position: relative;
    width: 100vw;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-section::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 75vh;
    background: linear-gradient(to top, #0a2a43, transparent);
    z-index: 3;
    display: block;
    opacity: 0.5;
}
.banner-section::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 75vh;
    background: #0a2a43;
    z-index: 3;
    mix-blend-mode: color;
    opacity: 0.5;
}

.banner-section img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100vw;
    height: 75vh;
}
#mountain {
    z-index: 1
}

.title {
    position: relative; 
    bottom: 10px;
    text-align: center;
}
.title h1 {
    position: relative;
}
.main-title {
    font-size: 5em;
    font-weight: 700;
    line-height: 5px;
}
.author {
    float: right;
    position: relative;
}

.title p {
    font-size: 3em;
    position: relative;
    top: 100px;
    font-weight: 900;
    z-index: 4;
}

/**********************/
/* Section 3: Content */
/**********************/
.content {
    width: 100vw;
    height: 475vh;
    background: linear-gradient(to right, #1f4068, #16213e);
    box-shadow: inset 0px 5px 20px 2px rgba(0, 0, 0, 0.6)
}

/* Table of Contents */
.heading {
    height: 41vh;
    width: 100vw;
    background-color:#1f4068;
    display: flex;
    align-items: center;
    box-shadow: inset 0px 6px 15px 5px rgba(0, 0, 0, 0.5);
    justify-content: space-between;
    perspective: 4000px;
}

.toc {
    margin-left: 5vw;
}

.toc h2 {
    font-weight: bolder;
}

.toc ol {
    list-style-type: upper-roman;
    list-style-position: inside;
}

.toc ol li {
    margin-left: 1vw;
    font-weight: 500;
    font-size: 1.25em;
}

.toc ol a {
    text-decoration: none;
    color: white;
}

.toc li > ol {
    font-size: 0.8em;
    font-weight: 400;
}

/* Animated Card */
.card {
    width: 20vw;
    height: 25vh;
    background-color: white;
    margin-right: 10vw;
    border-radius: 50px;
    box-shadow: 4px 6px 5px 2px rgba(0, 0, 0, 0.6);
    overflow: hidden;
    color: black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}

.card:hover {
    background-color: #1a1a2e;
    color: white;
}

.card h2 {
    font-weight: 600;
    font-size: 3rem;
    font-family: "Roboto Slab", serif;
}

/** Information */

main hr {
    border: none;
    background-color: #e94560;
    width: 3vw;
    height: 0.5vh;
    margin: 0px auto;
}

main h2 {
    text-align: center;
    font-weight: 500;
    font-size: 2rem;
}

.skills > section, .accomplishments > section {
    background-color: white;
    width: 80vw;
    margin: 40px auto;
    box-shadow: 0px 0px 10px 7px rgba(0, 0, 0, 0.75);
    color: black;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50px;
    overflow: hidden;
}

.skills > section h3, .accomplishments > section h3 {
    font-size: 1.5rem;
    margin-top: 25px;
}

/* Programming */
.skills > section.programming {
    height: 50vh;
    width: 60vw;
}

.programming .carousel {
    width: 150px;
    margin: 25px auto;
}

.programming .carousel-slide {
    width: 100%;
    height: 150px;
    display: flex;
}

.programming .carousel-slide img {
    width: 150px;
    filter: grayscale(100%)
}

.programming h4 {
    font-size: 1.4rem;
    font-weight: 500;
}

.circle-container {
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.programming .circle {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    opacity: 0.3;
    background-color: black;
    animation: opacity-changer 16s linear var(--i) infinite;
}

@keyframes opacity-changer {
    0% {
        opacity: 0.3;
    } 3.25% {
        opacity: 1;
    } 9.25% {
        opacity: 1;
    } 12.5% {
        opacity: 0.3;
    } 100% {
        opacity: 0.3;
    }
}

/* Math */
.skills > section.math {
    width: 60vw;
    height: 95vh;
}

.math .diamond-grid {
    display: grid;
    height: 80%;
    width: 80%;
    grid-template: repeat(5, 1fr) / repeat(6, 1fr);
    gap: 10px 15px;
    margin: 25px auto;
}
.diamond-grid > div {
    border-radius: 10px;
    transition: all 0.3s ease;
    filter: grayscale(75%)
}
.diamond-grid > div:hover {
    transform: scale(1.1);
    box-shadow: 2px 3px 3px 2px rgba(0, 0, 0, 0.6);
    filter: none;
}

.statistics {
    grid-column: 3 / span 2;
    grid-row: 1 / span 1;
    background: url("https://media.discordapp.net/attachments/768855517648912406/791396265141075978/statistics.jpg") no-repeat top center / cover;
}
.geometry {
    grid-column: 2 / span 2;
    grid-row: 2 / span 1;
    background: url("https://cdn.discordapp.com/attachments/768855517648912406/791397632513802256/geometry.jpg") no-repeat top center / cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.geometry h4 {
    color: rgb(175, 175, 175);
    font-weight: 500;
    font-size: 1.3rem;
    text-shadow: 2px 2px black;
}
.trigonometry {
    grid-column: 4 / span 2;
    grid-row: 2 / span 1;
    background: url("https://media.discordapp.net/attachments/768855517648912406/791399775404556309/statistics_1.jpg") no-repeat top center / cover;
}
.calculusab {
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
    background: url("https://cdn.discordapp.com/attachments/768855517648912406/791431606002647040/calculus_1.png") no-repeat top center / cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculusab h4 {
    color: white;
    font-weight: 600;
    font-size: 1.3rem;
    text-shadow: 2px 2px black;
}
.precalc {
    grid-column:  3 / span 2;
    grid-row: 3 / span 1;
    background: url("https://media.discordapp.net/attachments/768855517648912406/791465403011956746/precalc.jpg") no-repeat top center / cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.precalc h4 {
    color: white;
    font-weight: 600;
    font-size: 1.3rem;
    text-shadow: 2px 2px black;
}
.calculusbc {
    grid-column: 5 / span 2;
    grid-row: 3 / span 1;
    background: url("https://media.discordapp.net/attachments/768855517648912406/791473742794326046/calculus_2.jpg") no-repeat top center / cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculusbc h4 {
    color: white;
    font-weight: 600;
    font-size: 1.3rem;
    text-shadow: 1px 1px black;
}
.algebra1 {
    grid-column: 2 / span 2;
    grid-row: 4 / span 1;
    background: url("https://media.discordapp.net/attachments/768855517648912406/791475611271954482/algebra_1.jpg") no-repeat top center / cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.algebra1 h4 {
    color: white;
    font-weight: 600;
    font-size: 1.3rem;
    text-shadow: 1px 1px black;
}
.algebra2 {
    grid-column: 4 / span 2;
    grid-row: 4 / span 1;
    background: url("https://media.discordapp.net/attachments/768855517648912406/791476130283913256/algebra_2.jpg") no-repeat top center / cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.algebra2 h4 {
    color: white;
    font-weight: 600;
    font-size: 1.3rem;
    text-shadow: 1px 1px black;
}
.arithmetic {
    grid-column: 3 / span 2;
    grid-row: 5 / span 1;
    background: url("https://media.discordapp.net/attachments/768855517648912406/791477147374059540/arithmetic.png") no-repeat top center / cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.arithmetic h4 {
    color: white;
    font-weight: 600;
    font-size: 1.3rem;
    text-shadow: 1px 1px black;
}

/** Accomplishments */
.accomplishments .carousel-slide {
    display: flex;
    width: 100%;
}

.accomplishments a {
    text-decoration: none;
    font-weight: 500;
    color: royalblue;
    background: linear-gradient(180deg,rgba(121, 79, 79, 0) 35%, rgba(255, 202, 210, 0.5) 35%)
}
.accomplishments a:hover {
    text-decoration: underline;
}

.accomplishments h4 {
    font-size: 1.4rem;
    font-weight: 500;
}
.accomplishments p {
    width: 60%;
    text-align: center;
}

/* PSIA */
.psia .carousel {
    width: 150px;
    margin: 25px auto;
}

.psia .carousel-slide {
    height: 150px;
}

.psia .carousel-slide img {
    width: 150px;
    filter: grayscale(100%)
}

/*********************/
/* Section 4: Footer */
/*********************/
footer {
    height: 36vh;
    width: 100vw;
    background-color: #16213e;
    box-shadow: inset 0px 12px 20px 2px rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer h3 {
    font-weight: 400;
}


footer .footer-container {
    width: 40vw;
    height: 20vh;
    display: flex;
    justify-content: space-between;
}

footer div {
    width: 15vw;
}

footer ul {
    list-style: none;
}

footer ul span {
    font-weight: 300;
}

footer li {
    font-weight: 200;
}

.github {
    width: 30px;
    height: 30px;
    overflow: hidden;
    background-size: cover;
    border-radius: 100%;
    object-fit: cover;
    position: absolute;
    right: 44.5vw;
}

.discord {
    width: 30px;
    height: 30px;
    overflow: hidden;
    background-size: cover;
    border-radius: 100%;
    object-fit: cover;
    position: absolute;
    right: 44.5vw;
}

.gmail {
    width: 30px;
    height: 30px;
    overflow: hidden;
    background-size: cover;
    border-radius: 100%;
    object-fit: cover;
    position: absolute;
    right: 69.5vw;
}

footer p {
    position: absolute;
    bottom: -34vh;
    left: 8px;
    float: left;
    font-size: 0.65rem;
}