
/* Show on scroll animation */

.float-up {
    animation: float-up 0.9s ease;
}
.float-down {
    animation: float-down 1s ease;
}
.from-right {
    animation: from-right 1s ease;
}
.from-left {
    animation: from-left 1s ease;
}

@keyframes float-up {
    from {
        opacity: 0;
        transform: translateY(50px)
    } to {
        opacity: 1;
        transform: translateY(0px)
    }
}

@keyframes float-down {
    from {
        opacity: 0;
        transform: translateY(-50px)
    } to {
        opacity: 1;
        transform: translateY(0px)
    }
}

@keyframes from-right {
    from {
        opacity: 0;
        transform: translateX(100px)
    } to {
        opacity: 1;
        transform: translateY(0px)
    }
}

@keyframes from-left {
    from {
        opacity: 0;
        transform: translateX(-100px)
    } to {
        opacity: 1;
        transform: translateY(0px)
    }
}

/* Loader animation */

.loader {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0f3460;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    z-index: 20;
}

.loading {
   width: 120px;
}

.loading img {
    width: 120px;
}

.dots {
    display: flex;
    justify-content: space-between;
    width: 120px;
    height: 30px;
    align-self: center;
}

.dot {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 100%;
    animation: flicker 0.4s ease var(--i) infinite;
    opacity: 0.5;
}

@keyframes flicker {
    0% {
        opacity: 0.5;
    } 
    25% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0.5;
    }
}