@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*******************/
/* Section 1: Banner*/
/*******************/
.banner {
    width: 100vw;
    height: 70vh;
    background: url("https://cdn.discordapp.com/attachments/768855517648912406/792509114940653568/88394bbdd649a12031722a4d9e183b64.png") no-repeat top center / cover;
    filter: blur(1px)
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 70vh;
    background-color: #1a1a2ea6;
    z-index: 1;
}


.title {
    width:100vw;
    height: 70vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 2;
}
.title h1 {
    font-size: 4rem;
    font-weight: 400;
}

/******************************/
/* Section 2: Projects */
/******************************/
.content > div {
    height: 75vh;
    width: 30vw;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: wrap;
    margin: 0px auto;
    position: relative;
}

.content > div h2 {
    margin: 20px;
    font-size: 2rem;
    font-weight: 500;
}

.content hr {
    width: 60px;
    height: 2px;
    background-color: #1a1a2e;
    margin: 0px auto;
    position: relative;
    bottom: 5px;
}

.content div div h3 {
    color: white;
    font-weight: 400;
    text-shadow: 2px 2px black;
}

.school a > div:hover, .other a > div:hover {
    box-shadow: 2px 3px 5px 2px rgba(0, 0, 0, 0.4);
}

/** School **/
.school a > div {
    width: 20vw;
    height: 20vh;
    border-radius: 15px;
    transition: all 0.25s ease;
    margin: 15px 10px;
    box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.4);
    position: absolute;
    transition: all 0.25s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stem {
    transform: translateX(-50%) scale(1.2);
    background: url("https://media.discordapp.net/attachments/768855517648912406/792929339960066078/Z.png") no-repeat top center / cover;
}
.ela {
    transform: translateX(-110%) translateY(125%);
}
.humanities {
    transform: translateY(125%) translateX(10%);
    background: url("https://media.discordapp.net/attachments/768855517648912406/792930467769745408/hIu9dZbFcuMgAAAABJRU5ErkJggg.png") no-repeat top center / cover;
}

/** Other **/
.content > .other {
    height: 100vh;
}

.other a > div {
    width: 20vw;
    height: 20vh;
    border-radius: 15px;
    transition: all 0.25s ease;
    margin: 15px 10px;
    box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.4);
    position: absolute;
    transition: all 0.25s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.discordbots {
    transform: translateX(-50%) scale(1.2);
}
.word-modifier {
    transform: translateX(-110%) translateY(150%);
}
.this-website {
    transform: translateY(150%) translateX(10%);
}
.grade-calculator {
    transform: translateX(-50%) translateY(300%)
}