@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

/*******************/
/* Section 1: Banner*/
/*******************/
.banner {
    width: 100vw;
    height: 70vh;
    background: url("https://cdn.discordapp.com/attachments/768855517648912406/792509114940653568/88394bbdd649a12031722a4d9e183b64.png") no-repeat top center / cover;
    filter: blur(1px);
    box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.6);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 70vh;
    background-color: #1a1a2ea6;
    z-index: 1;
}


.title {
    width:100vw;
    height: 70vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 2;
}
.title h1 {
    font-size: 4rem;
    font-weight: 400;
}

/******************************/
/* Section 2: Projects */
/******************************/
.content > div {
    height: 75vh;
    width: 30vw;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: wrap;
    margin: 0px auto;
    position: relative;
}

.content > div h2 {
    margin: 20px;
    font-size: 2rem;
    font-weight: 500;
}

.content hr {
    width: 60px;
    height: 2px;
    background-color: #1a1a2e;
    margin: 0px auto;
    position: relative;
    bottom: 15px;
}

.content div div h3 {
    color: white;
    font-weight: 400;
    text-shadow: 2px 2px black;
    font-size: 1.75rem;
}

.school a > div:hover, .other a > div:hover {
    box-shadow: 4px 6px 5px 2px rgba(0, 0, 0, 0.6);
}

/** School **/
.school a > div {
    width: 20vw;
    height: 20vh;
    border-radius: 15px;
    transition: all 0.25s ease;
    margin: 15px 10px;
    box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.6);
    position: absolute;
    transition: all 0.25s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stem {
    transform: translateX(-50%) scale(1.2);
    background: url("https://media.discordapp.net/attachments/768855517648912406/792929339960066078/Z.png") no-repeat top center / cover;
}
.ela {
    transform: translateX(-110%) translateY(125%);
    background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url("https://media.discordapp.net/attachments/768855517648912406/792940288121110528/ela.jpg") no-repeat top center / cover;
}
.content div .ela h3 {
    font-weight: 600;
    font-size: 1.5rem;
}
.humanities {
    transform: translateY(125%) translateX(10%);
    background: url("https://cdn.discordapp.com/attachments/768855517648912406/792938019467821096/Z.png") no-repeat top center / cover;
}

/** Other **/
.content > .other {
    height: 100vh;
}

.other a > div {
    width: 20vw;
    height: 20vh;
    border-radius: 15px;
    transition: all 0.25s ease;
    margin: 15px 10px;
    box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.6);
    position: absolute;
    transition: all 0.25s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.discordbots {
    transform: translateX(-50%) scale(1.2);
    background: url("https://cdn.discordapp.com/attachments/768855517648912406/792951152152281128/9k.png") no-repeat top center / cover;
    overflow: hidden;
    position: relative;
}
.discordbots img {
    width: 20%;
    height: auto;
    position: absolute;
}
.discordbots #left-side {
    left: 5px;
    top: 20px;
    transform: rotateY(180deg) rotate(-90deg);
    transition: all 0.5s ease;
    transform-origin: top left;
}
.discordbots #right-side {
    right: 5px;
    bottom: 20px;
    transform: translateX(110%) rotate(-90deg);
    transition: all 0.5s ease 0.2s;
}
.discordbots #wumpus {
    width: 30%;
    bottom: 0;
    left: 50px;
    transform: translateY(20px);
    transition: all 0.5s ease;
    animation: wumpus 5s linear 0s infinite;
}
.discordbots:hover > #left-side {
    transform: rotateY(180deg) translateX(-100%) rotate(0deg)
}
.discordbots:hover > #right-side {
    transform: translateX(0px) rotate(0deg)
}
@keyframes wumpus {
    0% {
        transform: translateY(110%);
    }20% {
        transform: translateY(10px);
    }30% {
        transform: translateY(20px);
    }70% {
        transform: translateY(20px);
    }80% {
        transform: translateY(10px);
    }100% {
        transform: translateY(110%);
    }
}
.word-modifier {
    transform: translateX(-110%) translateY(150%);
    position: relative;
    background: url("https://cdn.discordapp.com/attachments/768855517648912406/792956085572993045/photo-1569982175971-d92b01cf8694.png") no-repeat top center / cover;
}
.word-modifier h3 {
    z-index: 2;
}
.word-modifier p {
    opacity: 0;
    position: absolute;
    animation: fade 4.2s linear;
    animation-iteration-count: infinite;
    color: lightgray;
    font-family: Yellowtail;
    font-size: 2em;
}
#one {
    top: 5px;
    left: 5px;
}
#two {
    left: 25%;
    top: 50px;
    animation-delay: 0.6s
}
#three {
    left: 15%;
    bottom: 25px;
    animation-delay: 1.2s
}
#four {
    top: 20px;
    right: 5px;
    animation-delay: 1.8s;
}
#five {
    bottom: 30%;
    right: 15%;
    animation-delay: 2.4s;
}
#six {
    top: 15%;
    right: 45%;
    animation-delay: 3s;
}
#seven {
    bottom: 15%;
    right: 25px;
    animation-delay: 3.6s;
}
@keyframes fade {
    0% {
        opacity: 0;
    } 8.5% {
        opacity: 1;
    } 10.5% {
        opacity: 1;
    } 19% {
        opacity: 0
    } 100% {
        opacity: 0;
    }
}
.this-website {
    transform: translateY(150%) translateX(10%);
    background: url("https://media.discordapp.net/attachments/768855517648912406/793005378044297247/2Q.png") no-repeat top center / cover;
}
.content div .this-website h3 {
    position: relative;
    bottom: 35px;
    left: 10px;
}
.grade-calculator {
    transform: translateX(-50%) translateY(300%);
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://media.discordapp.net/attachments/768855517648912406/793006532865556490/9k.png") no-repeat top center / cover;
}
.content div .grade-calculator h3 {
    font-weight: 500;
}